<div class="container" *ngIf="advertise$|async as advertise;else loading">
  <nz-page-header class="site-page-header" nzBackIcon>
    <!--breadcrumb-->

    <!--avatar-->
    <nz-avatar
      nz-page-header-avatar
      nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"
    >
    </nz-avatar>

    <!--title-->
    <nz-page-header-title
      >{{advertise.userAdvertise.advertise.title}}</nz-page-header-title
    >

    <!--subtitle-->
    <nz-page-header-subtitle
      >{{advertise.userAdvertise.advertise.advertiseInfo.hint}}</nz-page-header-subtitle
    >

    <!--tags-->
    <nz-page-header-tags>
      <ng-container
        *ngIf="advertise.userAdvertise.status == 0 ; else outOfStockTpl "
      >
        <nz-tag [nzColor]="'green'"
          >Available:
          <b
            >{{advertise.userAdvertise.advertise.advertiseInfo.quantity}}</b
          ></nz-tag
        >
      </ng-container>
      <ng-template #outOfStockTpl>
        <nz-tag [nzColor]="'red'">Out of stock</nz-tag>
      </ng-template>
    </nz-page-header-tags>

    <!--extra-->
    <nz-page-header-extra>
      <ng-container *ngIf="currentUser$|async as user; else guestTpl">
        <ng-container *ngIf="!advertise.userAdvertise.isLiked">
          <button
            nz-button
            class="likebutton"
            nzSize="large"
            nzShape="round"
            (click)="likeAdvertise(advertise.userAdvertise.advertise.uniqueId)"
          >
            <i nz-icon nzType="like" nzTheme="outline"></i>
            Like
          </button>
        </ng-container>
        <ng-container
          *ngIf="user.userName !== advertise.userAdvertise.user.userName"
        >
          <button
            nz-button
            class="offerbutton"
            nzSize="large"
            nzShape="round"
            (click)="openOfferModel(advertise.userAdvertise.user.userName,offerTitleTpl)"
          >
            <i nz-icon nzType="send"></i>Send Offer
          </button>
        </ng-container>

        <ng-container
          *ngIf="advertise.userAdvertise.isFavorite else addFavoriteTpl"
        >
          <button
            nz-button
            class="staredbutton"
            nzSize="large"
            nzShape="round"
            (click)="removeFromFavorite(advertise.userAdvertise.advertise.uniqueId)"
          >
            <i nz-icon nzType="check"></i>Added to favorites
          </button>
        </ng-container>
        <ng-template #addFavoriteTpl>
          <button
            nz-button
            class="starbutton"
            nzSize="large"
            nzShape="round"
            (click)="addToFavorite(advertise.userAdvertise.advertise.uniqueId)"
          >
            <i nz-icon nzType="star"></i>Add to favorites
          </button>
        </ng-template>
        <ng-container
          *ngIf="user.userName === advertise.userAdvertise.user.userName"
        >
          <button
            nz-button
            class="editbutton"
            nzSize="large"
            nzShape="round"
            (click)="openEditModal(modalTitle,modalContent,modalFooter)"
          >
            <i nz-icon nzType="edit"></i>Edit
          </button>
          <button
            nz-button
            class="deletebutton"
            nzSize="large"
            nzShape="round"
            (click)="deleteAdvertise(advertise.userAdvertise.advertise.uniqueId)"
          >
            <i nz-icon nzType="delete"></i>Delete
          </button>
        </ng-container>
      </ng-container>
      <ng-template #guestTpl>
        <button
          nz-button
          class="likebutton"
          nzSize="large"
          nzShape="round"
          [routerLink]="['/auth/login']"
        >
          <i nz-icon nzType="like" nzTheme="outline"></i>
          Like
        </button>
        <button
          nz-button
          class="offerbutton"
          nzSize="large"
          nzShape="round"
          [routerLink]="['/auth/login']"
        >
          <i nz-icon nzType="send"></i>Send offer
        </button>
        <button
          nz-button
          class="starbutton"
          nzSize="large"
          nzShape="round"
          [routerLink]="['/auth/login']"
        >
          <i nz-icon nzType="star"></i>Add to favorites
        </button>
      </ng-template>
    </nz-page-header-extra>

    <!--content-->
    <nz-page-header-content style="padding-left: 5%">
      <div nz-row>
        <label>
          <i nz-icon style="color: hotpink">
            <svg>
              <path
                d="M923 283.6c-13.4-31.1-32.6-58.9-56.9-82.8-24.3-23.8-52.5-42.4-84-55.5-32.5-13.5-66.9-20.3-102.4-20.3-49.3 0-97.4 13.5-139.2 39-10 6.1-19.5 12.8-28.5 20.1-9-7.3-18.5-14-28.5-20.1-41.8-25.5-89.9-39-139.2-39-35.5 0-69.9 6.8-102.4 20.3-31.4 13-59.7 31.7-84 55.5-24.4 23.9-43.5 51.7-56.9 82.8-13.9 32.3-21 66.6-21 101.9 0 33.3 6.8 68 20.3 103.3 11.3 29.5 27.5 60.1 48.2 91 32.8 48.9 77.9 99.9 133.9 151.6 92.8 85.7 184.7 144.9 188.6 147.3l23.7 15.2c10.5 6.7 24 6.7 34.5 0l23.7-15.2c3.9-2.5 95.7-61.6 188.6-147.3 56-51.7 101.1-102.7 133.9-151.6 20.7-30.9 37-61.5 48.2-91 13.5-35.3 20.3-70 20.3-103.3 0.1-35.3-7-69.6-20.9-101.9z"
              />
            </svg>
          </i>
          &nbsp;
          <ng-container *ngIf="advertise.userAdvertise.likes>0 else nolikesTpl">
            <ng-container
              *ngIf="advertise.userAdvertise.isLiked; else publikesTpl"
            >
              You liked this ,Total: {{advertise.userAdvertise.likes }}
            </ng-container>
            <ng-template #publikesTpl>
              {{advertise.userAdvertise.likes}}
            </ng-template>
          </ng-container>
          <ng-template #nolikesTpl> Be the first one to like this </ng-template>
        </label>
      </div>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset [nzSelectedIndex]="0" nzTabPosition="top">
        <nz-tab [nzTitle]="detailsTemplate">
          <advertise-details-tab
            [SelectedAdvertise]="advertise"
          ></advertise-details-tab>
        </nz-tab>
        <nz-tab [nzTitle]="commentsTemplate"> </nz-tab>
        <nz-tab [nzTitle]="aboutTemplate"> </nz-tab>
      </nz-tabset>
    </nz-page-header-footer>
  </nz-page-header>

  <ng-template #modalTitle>
    <b>{{advertise.userAdvertise.advertise.title}}</b>
  </ng-template>

  <ng-template #modalContent>
    <advertie-edit [selectedAdvertise]="advertise$ |async"></advertie-edit>
  </ng-template>
  <ng-template #modalFooter let-footerRef="modalRef">
    <button nz-button (click)="modalRef?.destroy()">Close</button>
  </ng-template>
  <ng-template #offerTitleTpl let-AdRef="advertise">
    <div style="display: flex; flex-flow: column wrap">
      <h2 style="font-family: Quicksand">Send Private Message</h2>
      <p nonce style="color: gray; font-family: Assistant">
        <span style="color: black">To&nbsp;</span>
        <span style="font-family: Roboto"
          >@{{advertise.userAdvertise.user.userName}}</span
        >
      </p>
    </div>
    <b style="font-family: Quicksand"
      >Please be more specific about the item you are offering</b
    >
  </ng-template>
</div>

<ng-template #detailsTemplate>
  <i nz-icon [nzType]="'info-circle'"></i>
  Details
</ng-template>
<ng-template #commentsTemplate>
  <i nz-icon [nzType]="'comment'"></i>
  Comment
</ng-template>
<ng-template #aboutTemplate>
  <i nz-icon [nzType]="'user'"></i>
  About Seller
</ng-template>
<ng-template #loading>
  <div>loading</div>
</ng-template>
