<ul nz-menu nzMode="horizontal" class="navbar-container" [dir]="html.dir">
  <div class="navbar-lang">
    <li nz-submenu [nzTitle]="getSelectedLang()">
      <ul>
        <li nz-menu-group nzTitle="Languages">
          <ul>
            <li
              *ngFor="let lang of languages"
              nz-menu-item
              (click)="changeLanguage(lang.value)"
            >
              {{lang.language}}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </div>
  <img
    style="width: 50px; height: 40px; margin-top: 10px"
    src="https://upload.wikimedia.org/wikipedia/commons/4/42/OLX_New_Logo.png"
  />
  <div class="navbar-start">
    <li
      nz-menu-item
      nzSelected
      [routerLink]="['/home']"
      routerLinkActive="ant-menu-item-selected-route"
    >
      <i nz-icon nzType="home" nzTheme="outline"></i> {{'navbar.home' |
      translate}}
    </li>

    <li
      nz-menu-item
      [routerLink]="['/auth']"
      routerLinkActive="ant-menu-item-selected-route"
    >
      <i nz-icon nzType="search" nzTheme="outline"></i> {{'navbar.explore' |
      translate}}
    </li>
  </div>
  <ng-container *ngIf="user$ |async as logged;else nouser">
    <div>
      <div
        class="user-info"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
      >
        <div
          nz-button
          nzType="dashed"
          class="btn-profile"
          [routerLink]="['/auth/login']"
        >
          <nz-avatar
            class="user-info-image"
            nzIcon="user"
            nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          ></nz-avatar>
          {{logged.firstName}} {{logged.lastName}}
        </div>
      </div>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu class="profile-dropdown">
          <li
            nz-menu-item
            style="margin: 10px; padding: 10px; font-weight: bold"
            [routerLink]="['/advertise/create']"
          >
            <i nz-icon nzType="appstore-add" nzTheme="outline"></i>Create new
            Advertise
          </li>
          <li nz-menu-divider></li>

          <li nz-menu-group nzTitle="Account">
            <ul>
              <li nz-menu-item style="font-weight: 700">
                <i nz-icon nzType="user" nzTheme="outline"></i>Profile
              </li>
              <li
                nz-menu-item
                style="font-weight: 700"
                [routerLink]="['/user/favorites']"
              >
                <i nz-icon nzType="star" nzTheme="outline"></i>Favorites
              </li>

              <li nz-menu-divider></li>

              <button
                nz-button
                nzType="primary"
                [nzSize]="'small'"
                (click)="logOut()"
                style="
                  width: 100%;
                  height: 30px;
                  padding-right: 15px;
                  margin: 10px 0 10px 0;
                "
              >
                <i nz-icon nzType="logout" nzTheme="outline"></i>
                Logout
              </button>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <a
      nz-dropdown
      style="margin: 10px 0px 0px 5px"
      nzTrigger="click"
      [nzDropdownMenu]="notifications"
    >
      <nz-badge
        [nzCount]=" notificationCount$| async"
        [nzStyle]="{ backgroundColor: '#52c41a' }"
      >
        <a class="head-example">
          <i
            nz-icon
            style="font-size: 22px"
            nzType="bell"
            nzSize="large"
            nzTheme="outline"
          ></i
        ></a>
      </nz-badge>
    </a>
    <nz-dropdown-menu #notifications="nzDropdownMenu">
      <ng-container *ngIf="notification$|async as noti;else nolive">
        <ng-container *ngIf="noti.length>0; else emptynoti">
          <ul nz-menu class="notification-drop">
            <notification-item
              *ngFor="let item of noti"
              [NavItem]="item"
            ></notification-item>
          </ul>
        </ng-container>
      </ng-container>
      <ng-template #emptynoti>
        <ul nz-menu>
          <p style="margin: 2%">{{'navbar.emptynotification' | translate}}</p>
        </ul>
      </ng-template>
      <ng-template #nolive>
        <ul nz-menu>
          {{'navbar.emptynotification' | translate}}
        </ul>
      </ng-template>
    </nz-dropdown-menu>
  </ng-container>
  <ng-template #nouser>
    <div class="btns-auth-container">
      <button
        nz-button
        nzType="default"
        [nzSize]="'large'"
        class="btn-signin"
        nzShape="round"
        [routerLink]="['/auth/login']"
      >
        <i nz-icon nzType="login"></i>{{'navbar.signin' | translate}}
      </button>
      <button
        nz-button
        nzType="primary"
        [nzSize]="'large'"
        class="btn-newaccount"
        nzShape="round"
        [routerLink]="['/auth/register']"
      >
        <i nz-icon nzType="user-add"></i>{{'navbar.register' | translate}}
      </button>
    </div>
  </ng-template>
</ul>
