.big-container {
  margin: 4% 10%;
}
.add-ad-form {
  margin: 5% 5%;
}
@mixin columncenter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.details-section {
  @include columncenter();
  > label {
    font-family: Roboto;
    color: rgb(104, 104, 104);
    font-size: large;
  }
}
.form-section {
  @include columncenter();
}
.form-container {
  @include columncenter();
  margin: 3% 20%;
}
.details-inputs {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 10px;
  input {
    height: 40px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 14px;
  }
  nz-select {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 14px;
  }
}
.address-section {
  display: flex !important;
  flex-flow: column wrap !important;
  justify-content: center !important;
  gap: 10px;
}
.photos-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.bottom-action {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.confirm-msg {
  background-color: #ffc1c1;
  padding: 2%;
  border: 1px solid #ffb2b2;
  font-family: Quicksand;
  font-weight: bolder;

  p:nth-child(1) {
    font-family: Roboto;
    font-size: 30px;
  }
}
