<div class="advertise-card-container">
  <div
    *ngIf="(isLoadingAds$| async) as loading ;else ok "
    class="advertise-card-container"
  >
    <nz-card
      style="width: 300px; margin-top: 16px"
      *ngFor="let i of [].constructor(20)"
    >
      <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
        <div class="card-info">
          <div>
            <img
              src="https://www.maxgaming.com/bilder/artiklar/15623.jpg?m=1588925276"
            />
          </div>
          <div class="ad-info-middle">
            <nz-card-meta
              class="ad-info"
              nzTitle="Title"
              nzDescription="Description"
            >
            </nz-card-meta>
            <strong style="color: #17ac7f">Price</strong>
          </div>
          <div class="ad-info-bottom">
            <small>Seller</small>
            <p>Name</p>
            <p><small style="color: gray">@Username</small></p>
          </div>
        </div>
      </nz-skeleton>
    </nz-card>
  </div>
  <ng-template #ok>
    <nz-card
      [nzActions]="[actionFavorite]"
      style="width: 300px; margin-top: 16px"
      *ngFor="let ad of homeAds$  |async"
    >
      <nz-skeleton #ok [nzActive]="false" [nzLoading]="false">
        <div
          nz-tooltip
          nzTooltipTitle="Click to view full details"
          nzTooltipColor="geekblue"
          class="card-info"
          (click)="selectAdvertise(
        ad.userAdvertise.uniqueId)"
        >
          <div>
            <img [src]="ad.userAdvertise.imageUrl" />
          </div>

          <div class="ad-info-middle">
            <nz-card-meta
              style="width: 70%; overflow: hidden"
              class="ad-info"
              nzTitle="{{ad.userAdvertise.title}}"
              nzDescription="{{ad.userAdvertise.advertiseInfo.hint}}"
            >
            </nz-card-meta>
            <strong style="color: #17ac7f">${{ad.userAdvertise.price}}</strong>
          </div>
          <nz-divider nzText="Location" nzOrientation="center"></nz-divider>

          <div class="ad-info-bottom">
            <nz-tag nzColor="processing"> {{ad.userAdvertise.city}} </nz-tag>
            <nz-tag nzColor="cyan"> {{ad.userAdvertise.district}}</nz-tag>
          </div>
        </div>
      </nz-skeleton>
      <ng-template #actionFavorite>
        <button nz-button class="userbutton" nzShape="round">
          <i nz-icon nzType="user"></i>{{ad.userAdvertise.user.firstName}}
          {{ad.userAdvertise.user.lastName}}
        </button></ng-template
      >
    </nz-card>
  </ng-template>
</div>

<ng-template #actionDetails>
  <button nz-button>
    <i nz-icon nzType="star"></i></button
></ng-template>
