<div class="root">
  <div class="search-box">
    <home-searchbox (search)="search($event)"></home-searchbox>
  </div>

  <ng-container *ngIf="!!!(currentUser$|async)">
    <nz-alert
      style="margin: 4% 20% 0%"
      nzType="info"
      nzMessage="{{'home.suggestedads' |translate}}"
      nzDescription="{{'home.hint' |translate}}"
      nzShowIcon
    ></nz-alert>
  </ng-container>
  <div *ngIf="!(isHomeError$ |async) else error" class="advertise-card">
    <advertise-card></advertise-card>
  </div>
  <ng-template #error>
    <div class="error">
      <article>
        <h1>{{'error.details.title' |translate}}</h1>
        <div>
          <p>{{'error.details.hint' |translate}}</p>
          <p>&mdash; {{'error.details.team' |translate}}</p>
        </div>
      </article>
    </div>
  </ng-template>
</div>
<button
  class="fab-button"
  nz-button
  nzType="primary"
  nzSize="large"
  nzShape="circle"
  nz-tooltip
  nzTooltipTitle="Place an advertise"
  nzTooltipColor="geekblue"
  [routerLink]="['/advertise/create']"
>
  <i nz-icon nzType="plus-circle" nzTheme="fill"></i>
</button>
<style>
  .fab-button {
    position: fixed;
    right: 10%;
    bottom: 10%;
    height: 55px !important;
    width: 55px !important;
  }
</style>
