<div class="example-input">
  <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
    <input
      nzPrefixIcon="search"
      placeholder="{{'home.search' |translate}}"
      nz-input
      (keyup)="search.emit($event)"
      [nzAutocomplete]="auto"
    />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-autocomplete #auto>
    <ng-container *ngIf="searchResults$|async as results">
      <nz-auto-optgroup *ngFor="let group of results" [nzLabel]="groupTitle">
        <ng-template #groupTitle>
          <span>
            <b>{{ group.category}}</b>
          </span>
        </ng-template>
        <nz-auto-option
          *ngFor="let children of group.advertiseResult"
          [nzLabel]="children.title"
          [nzValue]="children.title"
        >
          <div
            [routerLink]="['/advertise',children.uniqueId]"
            style="
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
            "
          >
            <div>
              <p>{{ children.title }}</p>
              <p style="margin-top: -10px; color: gray">{{children.hint}}</p>
            </div>

            <div>
              <p>
                <span
                  ><b style="color: green">${{children.price}}</b
                  >&nbsp;from</span
                >
                <a class="more-link" href="#" target="_blank">
                  {{children.sellerName}}</a
                >
              </p>
            </div>
          </div>
        </nz-auto-option>
      </nz-auto-optgroup>
    </ng-container>
  </nz-autocomplete>
</div>
