<div class="example-input">
  <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
    <input
      nzPrefixIcon="search"
      placeholder="What are you looking for?"
      nz-input
      [(ngModel)]="inputValue"
      (ngModelChange)="onChange($event)"
      [nzAutocomplete]="auto"
    />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-autocomplete #auto>
    <nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle">
      <ng-template #groupTitle>
        <span>
          <b>{{ group.category}}</b> from
          <a class="more-link" href="#" target="_blank"> Ebrahim Elsayed</a>
        </span>
      </ng-template>
      <nz-auto-option
        [nzLabel]="group.children.title"
        [nzValue]="group.children.title"
      >
        <div
          style="
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
          "
        >
          <div>
            <p>{{ group.children.title }}</p>
            <p style="margin-top: -10px; color: gray">
              {{group.children.hint}}
            </p>
          </div>

          <div>
            <p>
              <span><b style="color: green">$450</b>&nbsp;from</span>
              <a class="more-link" href="#" target="_blank"> Ebrahim Elsayed</a>
            </p>
          </div>
        </div>
      </nz-auto-option>
    </nz-auto-optgroup>
  </nz-autocomplete>
</div>
