<ng-container *ngIf="advertise as advert">
  <nz-card nzType="inner" [nzTitle]="advert.title" [nzExtra]="extraTemplate">
    <div class="inner-container">
      <img [src]="advert.imageUrl" alt="img" />
      <div class="details">
        <p>{{advert.advertiseInfo?.hint}}</p>
        <p>$ {{advert.price}}</p>
        <p>{{advert.city}} {{advert.district}}</p>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <a [routerLink]="['../advertise',advert.uniqueId]">Details</a>
  </ng-template>
</ng-container>
