<ng-container *ngIf="advertise">
  <nz-card nzType="inner" [nzTitle]="advertise.title" [nzExtra]="extraTemplate">
    <div class="inner-container">
      <img [src]="advertise.imageUrl" alt="img" />
      <div class="details">
        <p>{{advertise.advertiseInfo.hint}}</p>
        <p>$ {{advertise.price}}</p>
        <p>{{advertise.city}} {{advertise.district}}</p>
      </div>
    </div>
  </nz-card>
</ng-container>
<ng-template #extraTemplate>
  <a [routerLink]="['../advertise',advertise.uniqueId]">Details</a>
</ng-template>
