.root {
  display: flex;
  flex-flow: column wrap;

  margin: 8% 5%;
  justify-content: center;
  .search-box {
    padding: 0px 20%;
  }
  .advertise-card {
    padding: 3% 10%;
  }
  .error {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10%;
  }
}
