<ul nz-menu nzMode="horizontal" class="navbar-container">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="home" nzTheme="outline"></i> Home
  </li>

  <li nz-menu-item>
    <i nz-icon nzType="search" nzTheme="outline"></i> Explore
  </li>

  <li nz-submenu nzTitle="Categories" nzIcon="group">
    <ul>
      <li nz-submenu nzTitle="Electronics">
        <ul>
          <li nz-menu-item>Mobiles</li>
          <li nz-menu-item>Tablets</li>
          <li nz-menu-item>Laptops</li>
          <li nz-menu-item>PCs</li>
          <li nz-menu-item>Others</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Vehicles">
        <ul>
          <li nz-menu-item>Cars</li>
          <li nz-menu-item>Bikes</li>
          <li nz-menu-item>Motocycles</li>
          <li nz-menu-item>Others</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Pets">
        <ul>
          <li nz-menu-item>Birds</li>
          <li nz-menu-item>Cats</li>
          <li nz-menu-item>Dogs</li>
          <li nz-menu-item>Others</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Jobs">
        <ul>
          <li nz-menu-item>Accounting</li>
          <li nz-menu-item>Customer Service</li>
          <li nz-menu-item>Drivers</li>
          <li nz-menu-item>Engineering</li>
          <li nz-menu-item>HR</li>
          <li nz-menu-item>IT</li>
          <li nz-menu-item>Guards and Security</li>
          <li nz-menu-item>Others</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Help" nzIcon="customer-service">
    <ul>
      <li nz-menu-group nzTitle="Customer Service">
        <ul>
          <li nz-menu-item>Contact Us</li>
          <li nz-menu-item>Live chat</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Company">
        <ul>
          <li nz-menu-item>Careers</li>
          <li nz-menu-item>About us</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="FAQ">
        <ul>
          <li nz-menu-item>Terms of use</li>
          <li nz-menu-item>Privacy Policy</li>
          <li nz-menu-item>Sitemap</li>
          <li nz-menu-item>Regions map</li>
        </ul>
      </li>
    </ul>
  </li>
  <div class="btns-auth-container">
    <button
      nz-button
      nzType="default"
      [nzSize]="'large'"
      class="btn-signin"
      nzShape="round"
      [routerLink]="['/auth/login']"
    >
      <i nz-icon nzType="login"></i>Sign In
    </button>
    <button
      nz-button
      nzType="primary"
      [nzSize]="'large'"
      class="btn-newaccount"
      nzShape="round"
    >
      <i nz-icon nzType="user-add"></i>Create new account
    </button>
  </div>
</ul>
