// Navbar
$nav_btn_width: fit-content;
$nav_btns: ("newaccount", "signin");
$required_margin: 10px 15px 0px 0px;
@mixin defaultValue {
  background-color: transparent;
  padding-bottom: 8px;
  display: flex;
  font-family: Roboto;

  flex-flow: row wrap;
  justify-content: center;
  .navbar-lang {
    padding-top: 10px;
    font-family: Roboto;
    li {
      font-size: 15px;
    }
  }
  .navbar-start {
    padding-top: 5px !important;
    margin: 5px 50px;
    display: flex;

    flex-flow: row wrap;
  }
  li {
    text-align: center;
    outline: none;
    &:hover {
      font-weight: bold;
    }
  }

  .ant-menu-item-selected-route {
    font-weight: bolder !important;
    &:hover {
      font-weight: normal;
    }
  }
  @each $class in $nav_btns {
    .btns-auth-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .btn-#{$class} {
        margin: $required_margin;
        float: right;
        width: $nav_btn_width;
        transition: box-shadow 500ms, border 500ms;

        &:not(:first-child):hover {
          background-color: darken($color: #253fba, $amount: 5);
          transition: box-shadow 500ms;
        }
        &:first-child:hover {
          box-shadow: 0px 0px 1px 1px currentColor;
          transition: box-shadow 500ms, border 500ms;
        }
      }
    }
  }
}

.navbar-container[dir="ltr"] {
  @include defaultValue;
}
.navbar-container[dir="rtl"] {
  @include defaultValue;
  font-family: Tajawal;
  i {
    margin-left: 5px;
  }
}
.user-info {
  cursor: pointer;
  border-style: none;
  :hover {
    background-color: #ececec;
    transition: background-color 400ms;
    border-radius: 50px;
  }
  :active {
    background-color: #fff;

    outline-color: #ffffff;
  }
  :focus {
    color: #253fba;
    outline-color: #253fba;
  }

  .btn-profile {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 15px 0px 10px;

    margin-top: 10px;
    margin-left: 50px;
    .user-info-image {
      margin-top: 5px;
      margin-right: 2px;
    }
  }
}
.profile-dropdown {
  font-family: Quicksand;
  font-weight: bold;
}
.head-example {
  padding: 50%;
  border-radius: 4px;
  color: #474747;
  display: inline-block;
  vertical-align: middle;
  border-radius: 40%;
  text-align: center;
  box-shadow: 0px 0px 6px 6px #f5f5f5;
  transition: box-shadow 500ms;

  &:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 8px #e5e5e5;
    transition: box-shadow 500ms;
  }
}
