// Navbar
$nav_btn_width: fit-content;
$nav_btns: ("newaccount", "signin");
$required_margin: 10px 15px 0px 0px;

@function getGrowSize($element) {
  @return if($element == nav-item, 10, 40);
}
.navbar-container {
  box-shadow: 0px 0px 4px 4px whitesmoke;
  padding-bottom: 8px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  li {
    flex-grow: getGrowSize(nav-item);
    text-align: center;
  }
}
@each $class in $nav_btns {
  .btns-auth-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: getGrowSize(auth-btns);
    .btn-#{$class} {
      flex-shrink: 8;
      margin: $required_margin;
      float: right;
      width: $nav_btn_width;
    }
  }
}
